{
  "printWidth": 160,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.json"],
      "options": { "printWidth": 300 }
    }
  ],
  "singleAttributePerLine": false
}
