/* General ================================================================== */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 75%;
  zoom: .75;
}

/* Text ================================================================== */

p {
  margin: 4px 0;
}

b {
  color: #c19a00;
}

h1 {
  margin-top: 0px;
}

h2 {
  font-size: 18px;
  margin-bottom: 7.5px;
  padding: 6px;
  background-color: #bad8f7;
  border: 1px solid #d7d7d7;
}

h4 {
  margin-bottom: 12px;
}

/* Tables ================================================================== */

table {
  /*display:block;
  page-break-inside: avoid;*/
  border-collapse: collapse;
  text-align: left;
  font-size: 11px;
  width: 100%;
}

thead {
  font-weight: 700;
}

thead tr {
  border-top: none;
  border-bottom: 2px solid #696969;
}

tbody {
  position: relative;
}

tr {
  /*page-break-inside: avoid;
  break-inside: avoid;*/
  position: relative;
  border-bottom: 1px solid #d7d7d7;
  height: 25px;
}

/*tbody tr:nth-child(even) {
  background-color: #fafafa;
}*/

tbody tr:nth-child(odd) {
  background-color: green;
}
tbody tr:nth-child(even) {
  background-color: red;
}

/* Current sizes: headlined pages 25 rows exact, full table pages 27 full rows and space*/
/* PhantomJS does not respect this...*/
tbody tr:nth-child(10) {
}
tbody tr:nth-child(10):after
{
  display:block;
  height:0px;
  visibility: hidden;
  page-break-after: always !important;
}

/*tbody tr:nth-child(28n+53) td {
  /* page-break-before: always; */
  /*color: yellow;
  font-weight: bold;
  padding-bottom: 4px;
}*/

th,
td {
  padding: 6px 12px;
  /*page-break-inside: avoid;
  break-inside: avoid;*/
}

td[data-subsection] {
  background-color: #ebf1f7;
  font-weight: 700;
}

td[data-negative] {
  color: red;
}

td[data-positive] {
  /* color: green; */
}

